$screen-xs: 490px;
$screen-sm: 700px;
$screen-md: 1100px;
$screen-lg: 1920px;

$container-xs: 470px;
$container-sm: 600px;
$container-md: 960px;
$container-lg: 1240px;
//media
//flex
$j-fs: flex-start;
$j-end: flex-end;
$j-center: center;
$j-sb: space-between;
$j-sa: space-around;
$j-se: space-evenly;

$a-fs: flex-start;
$a-end: flex-end;
$a-center: center;
$a-bl: baselie;